.nav-heading {
  font-size: 25px;
  color: black;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 15px;
}
.nav1-heading {
  font-size: 25px;
  color: black;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 13px;
}

.nav-line{
  margin-left: 10px;
  border-bottom: 1px solid dimgray;
}
.char-Img{
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-top: 15px;
}